---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/automatic%20teller%20machines.json?key=<TOMTOM_API_KEY>&lat=33.73143&lon=-112.23536
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - f33e065e-c7a9-46c9-9954-fd65af2df999
      X-Apigee.target-Latency:
      - '397'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"automatic teller machines","queryType":"NON_NEAR","queryTime":387,"numResults":10,"offset":0,"totalResults":10,"fuzzyLevel":1,"geoBias":{"lat":33.73143,"lon":-112.23536}},"results":[{"type":"POI","id":"X-bBkIxr9E-Ao1PxPT6rNA","score":9.3382435915,"dist":2497.310003,"info":"search:ta:840049002412635-US","poi":{"name":"Prosperity
        Bank","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"27501","streetName":"North Lake
        Pleasant Road","municipality":"Peoria","countrySecondarySubdivision":"Maricopa","countrySubdivision":"AZ","countrySubdivisionName":"Arizona","countrySubdivisionCode":"AZ","postalCode":"85383","extendedPostalCode":"85383-1340","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"27501 North Lake Pleasant
        Road, Peoria, AZ 85383","localName":"Peoria"},"position":{"lat":33.733643,"lon":-112.262234},"viewport":{"topLeftPoint":{"lat":33.73607,"lon":-112.26515},"btmRightPoint":{"lat":33.73122,"lon":-112.25932}},"entryPoints":[{"type":"main","position":{"lat":33.73352,"lon":-112.26407}},{"type":"main","position":{"lat":33.73218,"lon":-112.26456}},{"type":"main","position":{"lat":33.73406,"lon":-112.26387}}]},{"type":"POI","id":"3k0hZny5yT0GqqD8tkyTZg","score":9.3377966997,"dist":2573.045809,"info":"search:ta:840049001405470-US","poi":{"name":"ATM
        at Kimo Enterprise Ii","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"6926","streetName":"West Tether
        Trail","municipality":"Peoria","countrySecondarySubdivision":"Maricopa","countrySubdivision":"AZ","countrySubdivisionName":"Arizona","countrySubdivisionCode":"AZ","postalCode":"85383","extendedPostalCode":"85383-7031","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"6926 West Tether Trail,
        Peoria, AZ 85383","localName":"Peoria"},"position":{"lat":33.723872,"lon":-112.209063},"viewport":{"topLeftPoint":{"lat":33.72477,"lon":-112.21014},"btmRightPoint":{"lat":33.72297,"lon":-112.20798}},"entryPoints":[{"type":"main","position":{"lat":33.72363,"lon":-112.20906}}]},{"type":"POI","id":"vgviSPUqK1MFg4tmIoA-2g","score":9.330470192,"dist":3594.06136,"info":"search:ta:840046000024825-US","poi":{"name":"Coinstar
        Kiosk","phone":"+1 800-928-2274","categorySet":[{"id":7397}],"url":"www.coinstar.com/kiosk-info?KioskIdu003d36585","categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"25401","streetName":"North Lake
        Pleasant Parkway","municipality":"Peoria","countrySecondarySubdivision":"Maricopa","countrySubdivision":"AZ","countrySubdivisionName":"Arizona","countrySubdivisionCode":"AZ","postalCode":"85383","extendedPostalCode":"85383-1353","cou[...]
