---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/geocode/1400%20U%20Street%20NW%20Washington%20DC%20DC%20.json?key=<TOMTOM_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 3c256c43-2e05-4221-a2c7-a0b6a4495ccf
      X-Apigee.target-Latency:
      - '214'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"1400 u street nw washington dc dc","queryType":"NON_NEAR","queryTime":205,"numResults":10,"offset":0,"totalResults":116,"fuzzyLevel":1},"results":[{"type":"Point
        Address","id":"rpXExiod-PbT_fl51GD0YQ","score":13.7839612961,"matchConfidence":{"score":1},"address":{"streetNumber":"1400","streetName":"U
        Street Northwest","municipalitySubdivision":"Shaw","municipality":"Washington","countrySecondarySubdivision":"District
        of Columbia","countrySubdivision":"DC","countrySubdivisionName":"District
        of Columbia","countrySubdivisionCode":"DC","postalCode":"20009","extendedPostalCode":"20009-3916","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1400 U Street Northwest,
        Washington, DC 20009","localName":"Washington"},"position":{"lat":38.91685,"lon":-77.03233},"viewport":{"topLeftPoint":{"lat":38.91775,"lon":-77.03349},"btmRightPoint":{"lat":38.91595,"lon":-77.03117}},"entryPoints":[{"type":"main","position":{"lat":38.91699,"lon":-77.03234}}]},{"type":"Point
        Address","id":"i89QYIdvqfqHNkyD-MIBTg","score":11.7467517853,"matchConfidence":{"score":1},"address":{"streetNumber":"1400","streetName":"W
        Street Northwest","municipalitySubdivision":"Shaw","municipality":"Washington","countrySecondarySubdivision":"District
        of Columbia","countrySubdivision":"DC","countrySubdivisionName":"District
        of Columbia","countrySubdivisionCode":"DC","postalCode":"[...]
