---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/geocode/97750%20Donnell%20Parkways%20Port%20Morton%20Rio%20Grande%20IN%2094408-3288.json?key=<TOMTOM_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - b7c3605f-862d-4aa9-9eb9-c61eb4c1d688
      X-Apigee.target-Latency:
      - '280'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"97750 donnell parkways port morton rio grande
        in 94408 3288","queryType":"NON_NEAR","queryTime":277,"numResults":2,"offset":0,"totalResults":2,"fuzzyLevel":2},"results":[{"type":"Address
        Range","id":"pSPpZDEC75Je54U1nfHkjQ","score":5.7522993088,"matchConfidence":{"score":0.25759930927390734},"address":{"streetNumber":"3288","streetName":"Pfieffer
        Parkway","municipality":"South Fork","countrySecondarySubdivision":"Rio Grande","countrySubdivision":"CO","countrySubdivisionName":"Colorado","countrySubdivisionCode":"CO","postalCode":"81154","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"3288 Pfieffer Parkway,
        South Fork, CO 81154","localName":"South Fork"},"position":{"lat":37.68994,"lon":-106.55535},"viewport":{"topLeftPoint":{"lat":37.69041,"lon":-106.55543},"btmRightPoint":{"lat":37.68923,"lon":-106.55537}},"addressRanges":{"rangeRight":"7866
        - 300","from":{"lat":37.68923,"lon":-106.55537},"to":{"lat":37.69041,"lon":-106.55543}}},{"type":"Address
        Range","id":"geJlki3I-LyJzjNTgkOnzw","score":5.6524806023,"matchConfidence":{"score":0.2958053242952086},"address":{"streetNumber":"3288","streetName":"Rua
        Moron","municipalitySubdivision":"Loteamento Morada da Colina","municipality":"Passo
        Fundo","countrySubdivision":"Rio Grande do Sul","countrySubdivisionName":"Rio
        Grande do Sul","countrySubdivisionCode":"RS","postalCode":"99010","extendedPostalCode":"99010-035","countryCode":"BR","country":"Brasil","countryCodeISO3":"BRA","freeformAddress":"Rua
        Moron, 3288, 99010-035, Passo Fundo","localName":"Passo Fundo"},"position":{"lat":-28.26977,"lon":-52.42294},"viewport":{"topLeftPoint":{"lat":-28.26973,"lon":-52.42352},"btmRightPoint":{"lat":-28.26999,"lon":-52.42294}},"addressRanges":{"rangeLeft":"3284
        - 3404","from":{"lat":-28.26972,"lon":-52.42294},"to":{"lat":-28.26999,"lon":-52.42352}}}]}'
  recorded_at: Thu, 07 Dec 2023 17:37:31 GMT
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/automatic%20teller%20machines.json?key=<TOMTOM_API_KEY>&lat=37.68994&lon=-106.55535
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 96c9d58f-ae3f-4f69-aeed-3634b09dc973
      X-Apigee.target-Latency:
      - '583'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"automatic teller machines","queryType":"NON_NEAR","queryTime":579,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":37.68994,"lon":-106.55535}},"results":[{"type":"POI","id":"3004mlARGHcm-880oM6rhQ","score":9.3059026828,"dist":5852.387985,"info":"search:ta:840089002934367-US","poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"29130","streetName":"US Highway
        160","municipality":"South Fork","countrySecondarySubdivision":"Rio Grande","countrySubdivision":"CO","countrySubdivisionName":"Colorado","countrySubdivisionCode":"CO","postalCode":"81154","extendedPostalCode":"81154-9501","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"29130 US Highway 160, South
        Fork, CO 81154","localName":"South Fork"},"position":{"lat":37.673062,"lon":-106.61834},"viewport":{"topLeftPoint":{"lat":37.67396,"lon":-106.61948},"btmRightPoint":{"lat":37.67216,"lon":-106.6172}},"entryPoints":[{"type":"main","position":{"lat":37.67314,"lon":-106.6184}}]},{"type":"POI","id":"sVf3Z7Gp7INsTI5-RSVOdQ","score":9.2885399924,"dist":7038.342508,"info":"search:ta:840089002935240-US","poi":{"name":"Nbh
        Bank","brands":[{"name":"Fidelity"}],"categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"29889","streetName":"US Highway
        160","municipality":"South Fork","countrySecondarySubdivision":"Rio Grande","countrySubdivision":"CO","countrySubdivisionName":"Colorado","countrySubdivisionCode":"CO","postalCode":"81154","extendedPostalCode":"81154-9501","country[...]
