---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/geocode/1400%20U%20Street%20NW%20Washington%20DC%20DC%20.json?key=<TOMTOM_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - aa2f06bc-8f8f-4749-b363-8f1474bfb077
      X-Apigee.target-Latency:
      - '178'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"1400 u street nw washington dc dc","queryType":"NON_NEAR","queryTime":173,"numResults":10,"offset":0,"totalResults":116,"fuzzyLevel":1},"results":[{"type":"Point
        Address","id":"rpXExiod-PbT_fl51GD0YQ","score":13.7839612961,"matchConfidence":{"score":1},"address":{"streetNumber":"1400","streetName":"U
        Street Northwest","municipalitySubdivision":"Shaw","municipality":"Washington","countrySecondarySubdivision":"District
        of Columbia","countrySubdivision":"DC","countrySubdivisionName":"District
        of Columbia","countrySubdivisionCode":"DC","postalCode":"20009","extendedPostalCode":"20009-3916","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"1400 U Street Northwest,
        Washington, DC 20009","localName":"Washington"},"position":{"lat":38.91685,"lon":-77.03233},"viewport":{"topLeftPoint":{"lat":38.91775,"lon":-77.03349},"btmRightPoint":{"lat":38.91595,"lon":-77.03117}},"entryPoints":[{"type":"main","position":{"lat":38.91699,"lon":-77.03234}}]},{"type":"Point
        Address","id":"i89QYIdvqfqHNkyD-MIBTg","score":11.7467517853,"matchConfidence":{"score":1},"address":{"streetNumber":"1400","streetName":"W
        Street Northwest","municipalitySubdivision":"Shaw","municipality":"Washington","countrySecondarySubdivision":"District
        of Columbia","countrySubdivision":"DC","countrySubdivisionName":"District
        of Columbia","countrySubdivisionCode":"DC","postalCode":"[...]
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/automatic%20teller%20machines.json?key=<TOMTOM_API_KEY>&lat=38.91685&lon=-77.03233
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 49008893-51c9-41e5-ae3b-ec4111c65750
      X-Apigee.target-Latency:
      - '379'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"automatic teller machines","queryType":"NON_NEAR","queryTime":376,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":38.91685,"lon":-77.03233}},"results":[{"type":"POI","id":"1Qq3mZzGBBk04e67uvMj2Q","score":9.3455354809,"dist":34.811433,"info":"search:ta:840119000331504-US","poi":{"name":"Wells
        Fargo Washington","phone":"+1 202-594-3357","brands":[{"name":"Wells Fargo"}],"categorySet":[{"id":7397}],"url":"www.wellsfargo.com","categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1934","streetName":"14th Street
        Northwest","municipalitySubdivision":"Shaw","municipality":"Washington","countrySecondarySubdivision":"District
        of Columbia","countrySubdivision":"DC","countrySubdivisionName":"District
        of Columbia","countrySubdivisionCode":"DC","postalCode":"20009","extendedPostalCode":"20009-4431","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAd[...]
