---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/automatic%20teller%20machines.json?key=<TOMTOM_API_KEY>&lat=41.729882&lon=-93.608108
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 768cf84b-06cc-48a4-9c45-87cffda7fa67
      X-Apigee.target-Latency:
      - '396'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"automatic teller machines","queryType":"NON_NEAR","queryTime":393,"numResults":10,"offset":0,"totalResults":10,"fuzzyLevel":1,"geoBias":{"lat":41.729882,"lon":-93.608108}},"results":[{"type":"POI","id":"Z-RKFtZ2STflUw7ZMYg1Nw","score":9.3455270885,"dist":91.431357,"info":"search:ta:840199001798595-US","poi":{"name":"Metabank","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"312","streetName":"Southwest Maple
        Street","municipality":"Ankeny","countrySecondarySubdivision":"Polk","countrySubdivision":"IA","countrySubdivisionName":"Iowa","countrySubdivisionCode":"IA","postalCode":"50023","extendedPostalCode":"50023-2915","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"312 Southwest Maple Street,
        Ankeny, IA 50023","localName":"Ankeny"},"position":{"lat":41.729244,"lon":-93.608803},"viewport":{"topLeftPoint":{"lat":41.73014,"lon":-93.61001},"btmRightPoint":{"lat":41.72834,"lon":-93.6076}},"entryPoints":[{"type":"main","position":{"lat":41.72925,"lon":-93.60856}}]},{"type":"POI","id":"LR6m9PxZMsjlGMTdE1yObQ","score":9.3451211094,"dist":596.269236,"info":"search:ta:840199001510407-US","poi":{"name":"Lynk
        Systems","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"302","streetName":"South Ankeny
        Boulevard","municipality":"Ankeny","coun[...]
