---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/categorySearch/automatic%20teller%20machines.json?key=<TOMTOM_API_KEY>&lat=37.8328&lon=-122.27669
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - '0986f305-2f1a-4847-8634-93e5f4507b16'
      X-Apigee.target-Latency:
      - '370'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"query":"automatic teller machines","queryType":"NON_NEAR","queryTime":366,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":37.8328,"lon":-122.27669}},"results":[{"type":"POI","id":"m4qcxCXbadhJKeRWzNSe2Q","score":9.3454547047,"dist":264.894261,"info":"search:ta:840069021261486-US","poi":{"name":"Prosperity
        Bank","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"4000","streetName":"San Pablo Avenue","municipality":"Emeryville","countrySecondarySubdivision":"Alameda","countrySubdivision":"CA","countrySubdivisionName":"California","countrySubdivisionCode":"CA","postalCode":"94608","extendedPostalCode":"94608-3612","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"4000 San Pablo Avenue,
        Emeryville, CA 94608","localName":"Emeryville"},"position":{"lat":37.831557,"lon":-122.279263},"viewport":{"topLeftPoint":{"lat":37.83246,"lon":-122.2804},"btmRightPoint":{"lat":37.83066,"lon":-122.27812}},"entryPoints":[{"type":"main","position":{"lat":37.83143,"lon":-122.27992}}]},{"type":"POI","id":"WBl6hdEf6Vgg88blfoaN6g","score":9.3454463123,"dist":277.409906,"info":"search:ta:840069019177563-US","poi":{"name":"Lynk
        Systems","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"4301","streetName":"Market Street","municipalitySubdivision":"Longfellow","municipality":"Oakland","countrySecondarySubdivision":"Alameda","countrySubdivision":"CA","countrySubdivisionName":"California","countrySubdivisionCode":"CA","postalCode":"94608","extendedPostalCode":"94608-3407","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"4301 Market Street, Emeryville,
        CA 94608","localName":"Emeryville"},"position":{"lat":37.833221,"lon":-122.273576},"viewport":{"topLeftPoint":{"lat":37.83412,"lon":-122.[...]
